.contact-form {
  font-family: $systemstack;
  width: 96%;
  max-width: 400px;
  margin: 0 auto $baseline*3;

  input,
  textarea {
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
  }
}
