// CONFIG
$fontstack: 'Oswald', "SF UI Text", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$systemstack: "SF UI Text", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// spacing
$baseline: 16px;

// breakpoints

$screen-xsmall: 360px;
$screen-small: 450px;
$screen-medium: 700px;
$screen-mediumLarge: 900px;
$screen-almostLarge: 1020px;
$screen-large: 1140px;

$border-radius: 3px;

// Colors
$background: #292b2d;
$main: #1E1E1E;
$colour-base: #f2f3f4;
$colour-accent: tomato;
$colour-gray-300: #D8D8D8;
$colour-gray-200: #F2F3F4;
$colour-active: #F8E71C;
