// CONFIG
$fontstack: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// spacing
$baseline: 16px;

// breakpoints

$screen-xsmall: 360px;
$screen-small: 450px;
$screen-medium: 700px;
$screen-mediumLarge: 900px;
$screen-almostLarge: 1020px;
$screen-large: 1140px;

$border-radius: 3px;

// Colors
$background: #292b2d;
$colour-base: #f2f3f4;
$colour-accent: tomato;
$colour-gray-300: #c9c9c9;
$colour-gray-100: #f2f3f4;
