.races-small {

  a {
    color: $main;
    text-decoration: none;
  }
  li {
    background: $colour-gray-300;
    margin-bottom: $baseline;
    display: grid;
    grid-template-columns: 63px 1fr 103px;
    grid-template-rows: 56px 1fr 30px;
    grid-template-areas:
      "logo date time"
      "what what what"
      "organiser organiser link";

      div {
        padding: $baseline/2;
        display: flex;
        align-items: center;
      }

  }

  li.list-header {
    background: none;
    color: $colour-base;
    font-size: 3rem;
    display: block;
  }

  .list-sim {
    grid-area: logo;
    background: #fff;


    img {
      max-width: 100%;
    }
  }

  .list-date {
    grid-area: date;
    background: $colour-gray-200;
    font-size: 1.4rem;

    em {
      font-style: normal;
      font-size: 1.8rem;
      font-weight: bold;
      padding-left: $baseline/4;
      padding-right: $baseline/4;
      padding-bottom: 2px;
    }

    span.month {
      color: #666;
      font-weight: 300;
      font-size: 1.8rem;
      padding-bottom: 2px;
    }
  }

  .list-time {
    grid-area: time;
    background: $colour-gray-200;
    font-size: 1.8rem;

    span {
      font-size: 1.3rem;
      padding: 3px 0 0 4px;
    }
  }

  .list-what {
    grid-area: what;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-self: flex-start;
  }

  .list-organiser {
    grid-area: organiser;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0 $baseline/2 $baseline/2;
  }

  .list-link {
    grid-area: link;
    background: $colour-active;
    color: $main;
    text-align: center;
    font-weight: 500;
  }
}
