@import "sass/reset";
@import "sass/variables";
@import "sass/typography";
@import "sass/forms";
@import "sass/tables";
@import "sass/header";


html, body {
  background: $background;
}

.wrapper {
  padding: $baseline;
}
.filters {
  padding: $baseline/2 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
